[Unit]
Description=PocketBase service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/campus
ExecStart=/opt/campus/bin/pocketbase serve --http 127.0.0.1:8090 --dir /opt/campus/pb_data --publicDir /opt/campus/pb_public --hooksDir /opt/campus/pb_hooks
Restart=always
RestartSec=5
#User=www-data

[Install]
WantedBy=multi-user.target
